frontend/node_modules/
frontend/.cache/
frontend/node_modules/.cache/

.env.*
.env

# Terraform state files
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
# ignore terraform local directories & provider binaries
**/.terraform/*
.terraform/

# ignore terraform local directories & provider binaries
**/.terraform/*
terraform/.terraform/
.terraform/

