name: Deploy ICU Frontend & Backend to VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # BACKEND
      - name: Build & Push Backend
        run: |
          docker build -t amanpal02/icu-backend:latest ./backend
          docker push amanpal02/icu-backend:latest

      # FRONTEND
      - name: Build & Push Frontend
        run: |
          docker build -t amanpal02/icu-frontend:latest ./frontend
          docker push amanpal02/icu-frontend:latest

      # DEPLOY
      - name: Deploy on VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            docker pull amanpal02/icu-backend:latest
            docker pull amanpal02/icu-frontend:latest

            docker stop icu-backend icu-frontend || true
            docker rm icu-backend icu-frontend || true

            docker run -d \
              --name icu-backend \
              -p 8000:8000 \
              -e MONGO_URI="${{ secrets.MONGO_URI }}" \
              --restart unless-stopped \
              amanpal02/icu-backend:latest

            docker run -d \
              --name icu-frontend \
              -p 80:80 \
              --restart unless-stopped \
              amanpal02/icu-frontend:latest

            docker image prune -f
