name: Deploy ICU Project to Cloud Run

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # BACKEND
      - name: Build & Push Backend Image
        run: |
          docker build -t amanpal02/icu-back:latest ./backend
          docker push amanpal02/icu-back:latest

      - name: Deploy Backend to Cloud Run
        run: |
          gcloud run deploy icu-backend \
            --image=amanpal02/icu-back:latest \
            --region=us-central1 \
            --platform=managed \
            --allow-unauthenticated \
            --port=8080
            --timeout=300


      - name: Get Backend Public URL
        run: |
          echo "BACKEND_URL=$(gcloud run services describe icu-backend \
            --region=us-central1 \
            --format='value(status.url)')" >> $GITHUB_ENV

      # FRONTEND (AUTO-INJECT BACKEND URL)

      - name: Create frontend .env.production
        run: |
          echo "VITE_API_URL=$BACKEND_URL" > frontend/.env.production
          cat frontend/.env.production

      - name: Build & Push Frontend Image
        run: |
          docker build -t amanpal02/icu-fron:latest ./frontend
          docker push amanpal02/icu-fron:latest

      - name: Deploy Frontend to Cloud Run
        run: |
          gcloud run deploy icu-frontend \
            --image=amanpal02/icu-fron:latest \
            --region=us-central1 \
            --platform=managed \
            --allow-unauthenticated \
            --port=80
            --timeout=300


      # PRINT URLS
      - name: Get Frontend Public URL
        run: |
          echo "FRONTEND_URL=$(gcloud run services describe icu-frontend \
            --region=us-central1 \
            --format='value(status.url)')" >> $GITHUB_ENV

      - name: Print Public URLs
        run: |
          echo "===================================="
          echo "ICU DEPLOYED SUCCESSFULLY"
          echo "Frontend URL:  $FRONTEND_URL"
          echo "Backend URL:   $BACKEND_URL"
          echo "===================================="
