name: Upload ML Model to S3

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::601559288497:role/GitHubActionsTerraformRole
          aws-region: ap-south-1

      - name: Upload model to S3
        run: |
          aws s3 cp backend/model.pkl s3://icu-model
