name: Upload ML Model to S3

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::601559288497:role/GitHubActionsTerraformRole
          aws-region: us-east-2

      - name: Debug AWS Identity
        run: |
          echo "Checking assumed role..."
          aws sts get-caller-identity

      - name: Upload model to S3
        run: |
          aws s3 cp backend/models/ s3://icu-model/models/ --recursive
